<div id="header-overlay" class="container">
  <canvas id="dot-canvas" class="position-absolute"></canvas>
  <div class="card text-center bg-dark border-info m-3">
    <div class="card-header text-info">
      CrewLink Server List 
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 d-flex">
          <div class="card bg-dark border-<%= @officialMonitor.available ? 'info' : 'danger' %> m-3 <%= @officialMonitor.available ? 'hoverable' : '' %>">
            <% if @officialMonitor.available %>
              <div class="card-overlay d-flex flex-column align-items-center justify-content-center">
                <p class="text-white text-center w-100"><a href="<%= @officialMonitor.url %>" class="text-<%= @officialMonitor.available ? 'info' : 'danger' %>"><%= @officialMonitor.url %></a></p>
                <button class="cb-btn btn btn-outline-<%= @officialMonitor.available ? 'info' : 'danger' %>" data-clipboard-text="<%= @officialMonitor.url %>"><i class="fas fa-copy"></i></button>
              </div>
            <% else %>
              <div class="card-offline-overlay d-flex align-items-center">
                <p class="text-danger text-center w-100">OFFLINE</p>
              </div>
            <% end %>
            <div class="card-header text-<%= @officialMonitor.available ? 'info' : 'danger' %>">
              Official Server
            </div>
            <img class="card-img-top" src="https://github.com/ottomated/CrewLink/raw/master/logo.png" class="img-fluid" alt="CrewLink Logo">
            <div class="card-body">
              <h6 class="card-title text-<%= @officialMonitor.available ? 'info' : 'danger' %>">Ottomated <br /><br /> <i class="fas fa-user"></i> <%= @officialMonitor.current_users %></h6>
            </div>
            <div class="card-footer">
              <small class="text-muted"><%= @officialMonitor.updated_at %></small>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="card text-center bg-dark border-warning m-3">
            <div class="card-header text-warning">
              Community Servers
            </div>
            <div class="card-body">
              <div class="card-columns">
                <% @monitors.each do |monitor| %>
                  <% unless monitor.official %>
                    <div class="card text-left bg-dark border-<%= monitor.available ? 'success' : 'danger' %> h-100 w-90 <%= monitor.available ? 'hoverable' : '' %>">
                      <% if monitor.available %>
                        <div class="card-overlay d-flex flex-column align-items-center justify-content-center">
                          <p id="<%= monitor.id %>" class="text-primary text-center w-100"><a href="<%= monitor.url %>" class="text-<%= monitor.available ? 'success' : 'danger' %>"><%= monitor.url %></a></p>
                          <button class="cb-btn btn btn-outline-<%= monitor.available ? 'success' : 'danger' %>" data-clipboard-text="<%= monitor.url %>"><i class="fas fa-copy"></i></button>
                        </div>
                      <% else %>
                        <div class="card-offline-overlay d-flex align-items-center">
                          <p class="text-danger text-center w-100">OFFLINE</p>
                        </div>
                      <% end %>
                      <div class="card-body text-info d-sm-flex align-items-center">
                        <h6 class="card-title m-0"><%= monitor.name %></h6>
                        <p class="card-text ml-auto"><i class="fas fa-user"></i> <%= monitor.current_users %></p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"><%= monitor.updated_at %></small>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>