<!DOCTYPE html>
<html>
  <head>
    <title>CrewLink Status</title>
    <link rel="icon" href="<%= image_url 'StatusLogo.png' %>" type="image/x-icon">
    <meta property="og:title" content="CrewLink Status">
    <meta property="og:description" content="Web application that tracks uptime and status of public CrewLink servers">
    <meta property="og:image" content="<%= image_url 'StatusLogo.png' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenLite.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/easing/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
  </head>

  <body>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>

    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <%= image_tag "StatusLogo.png", alt: "CrewLink Status Logo", width: "30", height: "30" %>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= 'active' if current_page?(root_path) %> ">
              <a class="nav-link" href="/">Landing <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <%= 'active' if current_page?(dashboard_index_path) %>">
              <a class="nav-link" href="/dashboard">Admin Dashboard</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown bg-dark active">
              <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">(current)</span>
                <%= fa_icon 'user-circle' %>
              </a>
              <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
                <p class="dropdown-item"><%= current_user.email %></p>
                <div class="dropdown-divider"></div>
                <%= link_to "Log out", destroy_session_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>

    <%= yield %>

    <footer class="landing-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <ul class="social-networks text-left">
                    <li><a target="_blank" href="https://github.com/Cobchise" rel="noopener"> <i class="fab fa-lg fa-github fa-fw"></i> </a></li>
                    <li><a target="_blank" href="https://twitter.com/cobchise_sec" rel="noopener"> <i class="fab fa-lg fa-twitter fa-fw"></i> </a></li>
                    <li><a target="_blank" href="https://twitch.tv/Cobchise" rel="noopener"> <i class="fab fa-lg fa-twitch fa-fw"></i> </a></li>
                    <li class="text-muted">Cobchise</li>
                  </ul>
              </div>
              <div class="col-sm-4 text-muted text-center copyright">
                  Copyright <i class="far fa-copyright"></i> Cobchise - All Rights Reserved.
              </div>
              <div class="col-sm-4">
                  <ul class="social-networks text-right p-0 pr-5">
                    <li class="text-muted">Ottomated</li>
                    <li><a target="_blank" href="https://twitch.tv/Ottomated" rel="noopener"> <i class="fab fa-lg fa-twitch fa-fw"></i> </a></li>
                    <li><a target="_blank" href="https://twitter.com/ottomated_" rel="noopener"> <i class="fab fa-lg fa-twitter fa-fw"></i> </a></li>
                    <li><a target="_blank" href="https://github.com/Ottomated" rel="noopener"> <i class="fab fa-lg fa-github fa-fw"></i> </a></li>
                  </ul>
              </div>
          </div>
      </div>
    </footer>
  </body>
</html>
