<!DOCTYPE html>
<html>
  <head>
    <title>CrewLinkStatus</title>
    <meta property="og:title" content="CrewLinkUptime">
    <meta property="og:description" content="Web application that tracks uptime and status of public CrewLink servers">
    <meta property="og:image" content="https://github.com/ottomated/CrewLink/raw/master/logo.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenLite.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/easing/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
  </head>

  <body>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>

    <%= yield %>

    <footer class="landing-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="social-networks text-left">
                  <li><a target="_blank" href="https://github.com/Cobchise" rel="noopener"> <i class="fab fa-lg fa-github fa-fw"></i> </a></li>
                  <li><a target="_blank" href="https://twitter.com/cobchise_sec" rel="noopener"> <i class="fab fa-lg fa-twitter fa-fw"></i> </a></li>
                  <li><a target="_blank" href="https://twitch.tv/Cobchise" rel="noopener"> <i class="fab fa-lg fa-twitch fa-fw"></i> </a></li>
                  <li class="text-muted">Cobchise</li>
                </ul>
            </div>
            <div class="col-sm-4 text-muted text-center copyright">
                Copyright <i class="far fa-copyright"></i> Cobchise - All Rights Reserved.
            </div>
            <div class="col-sm-4">
                <ul class="social-networks text-right">
                  <li class="text-muted">Ottomated</li>
                  <li><a target="_blank" href="https://twitch.tv/Ottomated" rel="noopener"> <i class="fab fa-lg fa-twitch fa-fw"></i> </a></li>
                  <li><a target="_blank" href="https://twitter.com/ottomated_" rel="noopener"> <i class="fab fa-lg fa-twitter fa-fw"></i> </a></li>
                  <li><a target="_blank" href="https://github.com/Ottomated" rel="noopener"> <i class="fab fa-lg fa-github fa-fw"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
  </body>
</html>
